.headerTxt{
    color: cornflowerblue;
  
}
form 
#submitBtn{
    background-color: green;
    border: none;
    margin-left: 20px ;
    color: ghostwhite;
    padding: 3px 5px;
    transition-duration: 0.4s;
}
#submitBtn:hover{
    border: 1px solid green;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
    outline-offset: 15px;
    /* outline-color: rgba(255, 255, 255, 0); */
    background-color: #4CAF50;
  color: white;
}
#submitField{
width: 430px;
}
#table{
    width: 900px;
    color: chocolate;
}
#table td{
    color: deepskyblue;
}

img{
    margin-left: 10%;
    height: 450px;
}

#carouselDiv{
    width: 400px;
    margin-left: 12%;
    margin-top: 15px;
}
.Carousel{
    background-color: #000000;
    background-color: #000000;
}
.Carousel .color{
    background-color: #000000;
    color: white;
}
.ele{
    background-color: #000000;
}
.carousel-indicators{
    display: none;
}
.carousel-control-prev{
    display: none;
}

.cardDiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
